@font-face {
  font-family: 'Pacho Demo';
  src: url('./Pacho-DEMO/Pacho DEMO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.pacho-text {
  font-family: 'Pacho Demo', serif;
}
